<%= form_with(model: [current_user, study_record], local: true) do |form| %>
  <% if study_record.errors.any? %>
    <% study_record.errors.full_messages.each do |message| %>
      <script>
        UIkit.notification({message: '<%= message %>', pos: 'top-right'});
      </script>
    <% end %>
  <% end %>
  <div class="field uk-margin-small-bottom">
    <%= form.label :category_name %><br>
    <%= form.select :category_id, current_user.categories.map{|g| [g.name, g.id]}, {include_blank: '選択してください'}, {class: "uk-select uk-form-width-medium"} %>
  </div>

  <div class="field uk-margin-small-bottom">
    <%= form.label :title %><br>
    <%= form.text_field :title, placeholder: "タイトルを入力してください", class: "uk-textarea uk-form-width-large" %>
  </div>

  <div class="field uk-margin-small-bottom">
    <%= form.label :content %><br>
    <%= form.text_area :content, placeholder: "内容を入力してください", class: "uk-textarea uk-form-width-large" %>
  </div>

  <div>
    <%= form.radio_button :study_cycle, :default %>
    <%= form.label :study_cycle, '忘却曲線' %>
    <%= form.radio_button :study_cycle, :one_week %>
    <%= form.label :study_cycle, '一週間' %>
    <%= form.radio_button :study_cycle, :two_weeks %>
    <%= form.label :study_cycle, '二週間' %>
  </div>

  <div class="actions  uk-margin-small-bottom">
    <%= form.submit class: "uk-button uk-button-primary uk-button" %>
  </div>
<% end %>
