<%= form_with(model: [current_user, study_record], local: true) do |form| %>
  <% if study_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study_record.errors.count, "件") %>エラーが発生しました！</h2>

      <ul>
        <% study_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field uk-margin-small-bottom">
    <%= form.label :category_name %><br>
    <%= form.select :category_id, current_user.categories.map{|g| [g.name, g.id]}, {include_blank: true, selected: 0}, {class: "uk-select uk-form-width-medium"} %>
  </div>

  <div class="field uk-margin-small-bottom">
    <%= form.label :title %><br>
    <%= form.text_field :title, placeholder: "タイトルを入力してください", class: "uk-textarea uk-form-width-large" %>
  </div>

  <div class="field uk-margin-small-bottom">
    <%= form.label :content %><br>
    <%= form.text_area :content, placeholder: "内容を入力してください", class: "uk-textarea uk-form-width-large" %>
  </div>

  <div class="actions  uk-margin-small-bottom">
    <%= form.submit class: "uk-button uk-button-primary uk-button" %>
  </div>
<% end %>