<p id="notice"><%= notice %></p>

<h1>Study_records</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @study_records.each do |study_record| %>
      <tr>
        <td><%= study_record.title %></td>
        <td><%= study_record.content %></td>
        <td><%= link_to 'Show', study_record %></td>
        <td><%= link_to 'Edit', edit_study_record_path(study_record) %></td>
        <td><%= link_to 'Destroy', study_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study Record', new_study_record_path %>
