<p id="notice"><%= notice %></p>

<h1><%= t('.study_record_index_page') %></h1>

<%= search_form_for @q, url: user_study_records_path(current_user) do |f| %>
  <%= f.label :title_or_content_cont, 'キーワード' %>
  <%= f.search_field :title_or_content_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= t('.category') %></th>
      <th><%= t('.title') %></th>
      <th><%= t('.content') %></th>
      <th><%= t('.next_study') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @study_records.each do |study_record| %>
      <tr>
        <td><%= study_record.category.name %></td>
        <td><%= study_record.title %></td>
        <td><%= study_record.content %></td>
        <td><%= render partial: 'time_limit', locals: { study_timing: study_record.study_timing[0], review_count: study_record.review_count } %></td>
        <td><%= link_to t('.review_page'), user_study_record_path(user_id: current_user.id, id: study_record.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @study_records %>

<br>

<%= link_to t('.create_record'), new_user_study_record_path(current_user) %>
