<p id="notice"><%= notice %></p>

<h1 class="uk-heading-line"><span><%= t('.study_record_index_page') %></span></h1>

<%= search_form_for @q, url: user_study_records_path(current_user) do |f| %>
  <%= f.label :title_or_content_cont, 'キーワード' %>
  <%= f.search_field :title_or_content_cont %>
  <br>
  <%= f.submit '検索', class: "uk-button uk-button-primary uk-button-small" %>
<% end %>

<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th><%= sort_link @q, :category_name, t('.category') %></th>
      <th><%= sort_link @q, :title, t('.title') %></th>
      <th><%= sort_link @q, :content, t('.content') %></th>
      <th><%= t('.next_study') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @study_records.each do |study_record| %>
      <tr>
        <td><%= study_record.category.name %></td>
        <td><%= study_record.title %></td>
        <td><%= study_record.content %></td>
        <td><%= render partial: 'time_limit', locals: { study_timing: study_record.study_timing[0], review_count: study_record.review_count } %></td>
        <td><button class="uk-button uk-button-default uk-button-small"><%= link_to t('.review_page'), user_study_record_path(user_id: current_user.id, id: study_record.id) %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @study_records %>

<div class="uk-margin-medium-top">
  <button class="uk-button uk-button-default uk-button-large uk-width-1-3" type="button" uk-toggle="target: #offcanvas-flip">使い方を見る</button>

  <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
      <div class="uk-offcanvas-bar">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <h3>学習一覧ページの見方</h3>
          <p>登録した学習記録が一覧で表示されます。</p>
          <p>復習をしたい場合は、復習画面ボタンをクリックしてください。</p>
      </div>
  </div>
</div>
