<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.title') %>:</strong>
  <%= @study_record.title %>
</p>

<p>
  <strong><%= t('.content') %>:</strong>
  <%= @study_record.content %>
</p>

<p>
  <strong><%= t('.study_cycle') %>:</strong>
  <%= @study_record.study_cycle %>
</p>

<p>
  <strong><%= t('.comprehension') %>:</strong>
  <%= @study_record.comprehension %>
</p>

<p>
  <strong><%= t('.created_at') %>:</strong>
  <%= @study_record.created_at %>
</p>

<%= link_to 'Edit', edit_study_record_path(@study_record) %> |
<%= link_to 'Back', study_records_path %>
