<h2><%= t('.show_page') %></h2>

<div>
  <p><%= t('.name') %> : <%= @user.name %></p>
  <p><%= t('.email') %> : <%= @user.email %></p>
  <button class="uk-button uk-button-default" ><%= link_to t('.edit'), edit_user_registration_path %></button>
</div>
<div>
  <!--ログインしてるユーザーが管理者の場合のみ-->
  <% if current_user.try(:admin?) %>
    <button class="uk-button uk-button-default" ><%= link_to '管理者ページ', admin_users_path %></button>
  <% end %>
</div>