<% if user_signed_in? && @study_records.empty? %>
  <div>
    <h1 class="uk-heading-line"><span>次の学習予定</span></h1>
    <h4>下をクリックして、学習記録を登録してください！！！</h4>
     <button class="uk-button uk-button-default"><%= link_to t('.create_record'), new_user_study_record_path(current_user) %></button>
  </div>
<% elsif user_signed_in? %>
  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1 uk-row-first">
      <h1 class="uk-heading-line"><span>次の学習予定</span></h1>
    </div>
  </div>
  <%# ジャンルごとに表示 %>
  <% @categories.each do |category| %>
    <ul uk-accordion="multiple: true">
      <li>
        <a class="uk-accordion-title" href="#"><h4><%= category %></h4></a>
        <div class="uk-accordion-content uk-card uk-card-default uk-card-body">
          <table class="uk-table uk-table-divider uk-table-responsive">
            <thead>
              <tr>
                <th><%= t('.title') %></th>
                <th><%= t('.content') %></th>
                <th><%= t('.next_study') %></th>
                <th><%= t('.review_count') %></th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <%# 投稿を未復習順に表示 %>
              <% i = 0 %>
              <% @order_study_records.each do |order_study_record| %>
                <%# 期限が近い順に6件文ループさせる %>
                <% break if i == 6 %>
                <%# genre_idが一致したら表示 %>
                <% if order_study_record[3] == category %>
                  <% i += 1 %>
                  <tr>
                    <%# タイトル %>
                    <td><%= order_study_record[4] %></td>
                    <%# 内容 %>
                    <td><%= order_study_record[5] %></td>
                    <%# 学習までの残り時間を表示 %>
                    <td>
                      <% if ((order_study_record[2] - Time.now)/86400) < -1 %>
                        <%= ((order_study_record[2] - Time.now)/86400).floor.abs %>日の遅れ
                      <% elsif ((order_study_record[2] - Time.now)/86400) >= -1 && ((order_study_record[2] - Time.now)/86400) < 0 %>
                        復習タイミングになりました！
                      <% elsif ((order_study_record[2] - Time.now)/86400) > 1 %>
                        あと<%= ((order_study_record[2] - Time.now)/86400).floor %>日と<%= divide_hour(order_study_record[2] - Time.now) %>時間
                      <% elsif ((order_study_record[2] - Time.now)/86400) >= 0 %>
                        <%# ヘルパーに定義したdivideメソッドで小数点だけを返す %>
                        あと<%= ((order_study_record[2] - Time.now)/86400*24).floor %>時間と<%= divide_minute(order_study_record[2] - Time.now) %>分
                      <% end %>
                    </td>
                    <%# 復習進捗 %>
                    <td><%= order_study_record[1] %>回目</td>
                    <td><button class="uk-button uk-button-default uk-button-small"><%= link_to t('.review_page'), user_study_record_path(user_id: current_user.id, id: order_study_record[0]) %></button></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  <% end %>
  <div class="uk-margin-medium-top">
    <button class="uk-button uk-button-default uk-button-large uk-width-1-3@s uk-width-1-2" type="button" uk-toggle="target: #offcanvas-flip">使い方を見る</button>
    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3>次の学習予定の見方</h3>
            <p>このページでは登録された復習予定日の内、期限が近い上位6件がカテゴリーごとに表示されます。</p>
            <p>次の復習時間になると、次の復習タイミングが「復習タイミングになりました」と表示されます。</p>
            <p>復習をしたい場合は、復習画面ボタンをクリックしてください。</p>
        </div>
    </div>
  </div>
<% else %>
  <div class="uk-container uk-container-center">
    <div class="uk-width-medium-1-1 uk-row-first">
      <div class="uk-vertical-align uk-text-center">
        <div class="uk-margin-xlarge-bottom uk-margin-small">
          <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="target: #test-filter; start: 100%; end: 100%; blur: 0,10;" style="font-size: 35px; font-family: 'Raleway', sans-serif;">Scroll Down</h1>
          <div class="scroll-downs uk-margin-top" uk-parallax="target: #test-filter; start: 100%; end: 100%; blur: 0,10;">
            <div class="mousey">
              <div class="scroller"></div>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-center">
          <h5 class="uk-margin-xlarge" style="font-family: 'Raleway', sans-serif;">
            <p>中級者の壁を突破するには1000時間費やす必要があるという法則があります。</p>
            <p>しかし、1000時間を勉強に使うというのはとても大変なことです。</p>
            <p>Study Supportはエビングハウスの忘却曲線理論による、脳科学的に脳の定着率が高いと言われている</p>
            <p>勉強周期を自動的に導き出し、あなたの学習をサポートします。</p>
            <p>また今まで費やしてきた勉強記録をアプリに登録することにより、時間の節約率をグラフにして表すことができます。</p>
            <p>Study Supportにより自分の努力過程を視覚的に得ることができ、あなたのモチベーションを高めることができます。</p>
          </h5>
        </div>
        <div data-aos="fade-up" data-aos-duration="1500" data-aos-anchor-placement="top-center">
          <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-xlarge" uk-grid>
              <div class="uk-card-media-left uk-cover-container">
                <img src="<%= asset_path "forgetting_curve.png" %>" alt="" uk-cover>
                <canvas width="800" height="400"></canvas>
              </div>
              <div>
                <div class="uk-card-body" style="font-family: 'Raleway', sans-serif;">
                  <h3 class="uk-card-title">About Forgetting Curve</h3>
                  <p>人の脳は1度勉強したことを1時間後には56%忘れ、1日後には74%、さらに1週間後には77%、1カ月後には79%を忘れるとされています。もちろんこれには個人差がありますが、概ねこのように、「時間が経つほど記憶は減る」というのは事実です。</p>
                  <p>忘れるまでの時間と記憶の関係を表した図を「エビングハウスの忘却曲線」と言い、「忘却曲線」はドイツの心理学者のヘルマン・エビングハウスという人が提唱していたものです。</p>
                  <p>参照：ウィキペディアより</p>
                </div>
              </div>
          </div>
        </div>
        <%= render 'content' %>
      </div>
    </div>
  </div>
<% end %>
<br>
<div>
  <a uk-icon="icon: arrow-up;ratio: 1.5" class="uk-icon-link uk-icon" href="#top" uk-scroll="">Back to top</a>
</div>
