<h1><%= t('.categories_index_page') %></h1>
<div>
  <%= form_with(model: [current_user, @category], method: :post, local: true) do |f| %>      
    <% if @category.errors.any? %>
      <div>
        <h2><%= pluralize(@category.errors.count, "件") %>エラーが発生しました！</h2>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.text_field :name %>
    <%= f.submit "追加" %>
  <% end %>

  <% if @categories.present? %>
    <table>
      <thead>
        <tr>
          <td>現在のジャンル名</td>
          <td>変更後のジャンル名</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <%= form_with(model: [current_user, category], method: :patch, local: true) do |f| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= f.text_field :name %></td>
            <td><%= f.submit t('.edit') %></td>
            <td><%= link_to t('.destroy'), user_category_path(user_id: current_user.id, id: category.id), method: :delete, data: {confirm: "紐付いた投稿がすべて削除されますが、本当に削除しますか？"} %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @categories %>
  <% else %>
    <div>
      <p>学習したいジャンル名を入れてください。</p>
    </div>
  <% end %>
</div>

<%= link_to '戻る', new_user_study_record_path(current_user) %>