<h1><%= t('.admin_edit_page') %></h1>
  <% if study_record.errors.any? %>
    <% study_record.errors.full_messages.each do |message| %>
      <script>
        UIkit.notification({message: '<%= message %>', pos: 'top-right'});
      </script>
    <% end %>
  <% end %>

<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <div>
    <%= f.label :name, t('.name')  %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, t('.email') %><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password, t('.password') %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, t('.password_confirmation') %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :admin, t('.admin') %><br>
    <%= f.check_box :admin, {}, "true", "false" %>
  </div>
  <div>
    <%= f.submit id: 'update-user', class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to t('.back'), admin_users_path %>