<!-- 通常用navbar -->
<div class="uk-position-top" id="top">
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="dropbar: false;" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-section-primary uk-light; bottom: #scrollup-dropdown">
    <!-- LEFT -->
    <div class="uk-navbar-left uk-light">
      <a class="uk-navbar-item uk-logo"></a>
      <!-- widthsが960pxかそれ以上の場合は表示(uk-visible@m)-->
      <ul class="uk-navbar-nav uk-visible@m">
        <% if user_signed_in? %>
          <li class="uk-active"><%= link_to t('.home'), root_path %></li>
          <li class="uk-active"><%= link_to t('.my_account'), user_path(current_user) %></li>
          <li class="uk-active"><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="uk-active"><%= link_to t('.home'), root_path %></li>
          <li class="uk-active"><%= link_to t('.sign_up'), new_user_registration_path %></li>
          <li class="uk-active"><%= link_to t('.sign_in'), new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
    <!-- モバイル画面のみ表示 -->
    <div class="uk-navbar-right">
      <!--モバイル用のメニュートグルボタン-->
      <a class="uk-navbar-toggle uk-hidden@m" uk-toggle="target: #offcanvas">
        <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-right">Menu</span>
      </a>
    </div>
  </nav>
</div>

<!-- モバイル用のナビバー -->
<nav id="offcanvas" uk-offcanvas="overlay: true; mode: push; flip: true">
  <!-- モバイル用のナビバー設定  -->
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
      <a class="uk-logo">Study Support</a>
      <li class="uk-nav-header">Dashboard</li>
      <% if user_signed_in? %>
        <li>
          <%= link_to root_path do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: calendar"></span><%=t('.schedule')%>
          <% end %>
			  </li>
			  <li>
          <%= link_to new_user_study_record_path(current_user) do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: pencil"></span><%=t('.new_record_nav')%>
          <% end %>
			  </li>
        <li>
          <%= link_to user_study_records_path(current_user) do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: list"></span><%=t('.study_records_index')%>
          <% end %>
			  </li>
        <li>
          <%= link_to user_completes_path(current_user) do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: check"></span><%=t('.completed_records')%>
          <% end %>
			  </li>
      <% else %>
        <li>
          <%= link_to root_path do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: home"></span>Home
          <% end %>
			  </li>
      <% end %>
			<li class="uk-nav-header">Account</li>
      <% if user_signed_in? %>
        <li>
          <%= link_to user_path(current_user) do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: user"></span><%=t('.my_account')%>
          <% end %>
			  </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span><%=t('.sign_out')%>
          <% end %>
			  </li>
         <li>
          <%= link_to edit_user_registration_path do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: settings"></span><%=t('.edit')%>
          <% end %>
			  </li>
      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: user"></span><%=t('.sign_up')%>
          <% end %>
			  </li>
        <li>
          <%= link_to new_user_session_path do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: sign-in"></span><%=t('.sign_in')%>
          <% end %>
			  </li>
      <% end %>
      <% if current_user.try(:admin?) %>
        <li>
          <%= link_to admin_users_path do %>
			  	  <span class="uk-margin-small-right" uk-icon="icon: cog"></span>管理者用ページ
          <% end %>
			  </li>
      <% end %>
      <li class="uk-nav-header">About Me</li>
      <li>
        <%= link_to "https://twitter.com/Takaya8522" do %>
				  <span class="uk-margin-small-right" uk-icon="icon: twitter"></span>Twitter
        <% end %>
			</li>
      <li>
        <%= link_to "https://github.com/takaya8522" do %>
				  <span class="uk-margin-small-right" uk-icon="icon: github"></span>Github
        <% end %>
			</li>
      <li>
        <%= link_to "https://www.wantedly.com/id/takaya_suzuki01" do %>
				  <span class="uk-margin-small-right" uk-icon="icon: happy"></span>Wantedly
        <% end %>
			</li>
      <li>
        <%= mail_to 'tky8522@yahoo.co.jp' do %>
				  <span class="uk-margin-small-right" uk-icon="icon: mail"></span>Mail
        <% end %>
			</li>
      <li>
        Created By Takaya Suzuki
			</li>
    </ul>
  </div>
</nav>

<%# headerの背景画像・ロゴ サインインしている場合と、していない場合で表示を切り替える %>
<% if user_signed_in? == false && current_page?(root_path) %>
  <header>
    <div class="uk-section-secondary">
      <!-- navbarの背景画像をアクセス毎に変更する -->
      <div class="uk-background-norepeat uk-background-cover uk-background-center-center uk-background-image@s uk-section uk-section-xlarge uk-flex uk-flex-middle" uk-parallax="bgx: 0,-60" uk-height viewport="offset-top: false" style="background-image: linear-gradient(to right, rgba(30, 75, 115, 0.9), rgba(255, 255, 255, 0)), url('https://picsum.photos/id/20/1920/1100/?blur=1');">
        <div class="uk-width-1-1">
          <div class="uk-container uk-container-large">
            <h1 class="uk-margin-small uk-margin-medium-top uk-width-large@m uk-text-left@m uk-text-center uk-h6 uk-heading-line" uk-parallax="opacity: 1,0;viewport: 0.95;media: @s" style="font-family: 'Raleway', sans-serif;">
              <span>Make learning more fun & more efficiently</span>
            </h1>
            <h2 class="uk-margin-small uk-text-left@m uk-text-center uk-heading-small" uk-parallax="y: 0,60;opacity: 1,0;easing: 0.8;viewport: 0.95;media: @s" style="font-family: 'Raleway', sans-serif;">Study Support</h2>
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header>
    <div class="uk-section-secondary">
      <!-- navbarの背景画像をアクセス毎に変更する -->
      <div class="uk-background-norepeat uk-background-cover uk-background-center-center uk-background-image@s uk-section uk-section-xsmall uk-flex uk-flex-middle" uk-parallax="bgx: 0,-60" uk-height viewport="offset-top: false" style="background-image: linear-gradient(to right, rgba(30, 75, 115, 0.9), rgba(255, 255, 255, 0)), url('https://picsum.photos/1900/500/?blur');">
        <div class="uk-width-1-1">
          <div class="uk-container uk-container-large">
            <h1 class="uk-margin-small uk-margin-medium-top uk-width-large@m uk-text-left@m uk-text-center uk-h6 uk-heading-line" uk-parallax="opacity: 1,0;viewport: 0.95;media: @s" style="font-family: 'Raleway', sans-serif;">
              <span>Make learning more fun & more efficiently</span>
            </h1>
            <h2 class="uk-margin-small uk-text-left@m uk-text-center uk-heading-small" uk-parallax="y: 0,60;opacity: 1,0;easing: 0.8;viewport: 0.95;media: @s" style="font-family: 'Raleway', sans-serif;">Study Support
            </h2>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>

<%# 左側ダッシュボード用 %>
<% if user_signed_in? %>
<div class="uk-grid uk-grid-collapse">
	<aside class="uk-width-medium uk-position-relative uk-visible@m">
		<div class="uk-tile uk-tile-default uk-tile-small uk-width-medium uk-position-fixed uk-box-shadow-medium" uk-overflow-auto style="top: 175px; bottom: 0;">
			<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
				<li class="uk-nav-header">Dashboard</li>
        <li>
          <%= link_to root_path do %>
					  <span class="uk-margin-small-right" uk-icon="icon: calendar"></span><%=t('.schedule')%>
          <% end %>
				</li>
				<li>
          <%= link_to new_user_study_record_path(current_user) do %>
					  <span class="uk-margin-small-right" uk-icon="icon: pencil"></span><%=t('.new_record_nav')%>
          <% end %>
				</li>
        <li>
          <%= link_to user_study_records_path(current_user) do %>
					  <span class="uk-margin-small-right" uk-icon="icon: list"></span><%=t('.study_records_index')%>
          <% end %>
				</li>
        <li>
          <%= link_to user_completes_path(current_user) do %>
					  <span class="uk-margin-small-right" uk-icon="icon: check"></span><%=t('.completed_records')%>
          <% end %>
				</li>
				<li class="uk-nav-header">Account</li>
        <li>
          <%= link_to user_path(current_user) do %>
					  <span class="uk-margin-small-right" uk-icon="icon: user"></span><%=t('.my_account')%>
          <% end %>
				</li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
					  <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span><%=t('.sign_out')%>
          <% end %>
				</li>
	      <li class="uk-parent">
					<a href="#"><span class="uk-margin-small-right" uk-icon="icon: settings"></span><%=t('.edit')%><span uk-nav-parent-icon></span></a>
					<ul class="uk-nav-sub">
            <li>
              <%= link_to edit_user_registration_path do %>
				    	  <span class="uk-margin-small-right" uk-icon="icon: cog"></span>マイアカウント編集
              <% end %>
				    </li>
            <% if current_user.try(:admin?) %>
              <li>
                <%= link_to admin_users_path do %>
				      	  <span class="uk-margin-small-right" uk-icon="icon: users"></span>管理者用ページ
                <% end %>
				      </li>
            <% end %>
					</ul>
				</li>
				<li class="uk-nav-header">About Me</li>
        <li>
          <%= link_to "https://twitter.com/Takaya8522" do %>
					  <span class="uk-margin-small-right" uk-icon="icon: twitter"></span>Twitter
          <% end %>
				</li>
        <li>
          <%= link_to "https://github.com/takaya8522" do %>
					  <span class="uk-margin-small-right" uk-icon="icon: github"></span>Github
          <% end %>
				</li>
        <li>
          <%= link_to "https://www.wantedly.com/id/takaya_suzuki01" do %>
					  <span class="uk-margin-small-right" uk-icon="icon: happy"></span>Wantedly
          <% end %>
				</li>
        <li>
          <%= mail_to 'tky8522@yahoo.co.jp' do %>
					  <span class="uk-margin-small-right" uk-icon="icon: mail"></span>Mail
          <% end %>
				</li>
        <br>
        <li>
          Created By Takaya Suzuki
			  </li>
			</ul>
		</div>
	</aside>
<% end %>