<!DOCTYPE html>
<html lang="ja" dir="ltr" class="uk-notouch">
  <%= render 'layouts/head' %>  
  <body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
      <%= render 'layouts/navbar' %>    
      <% if flash %>
        <% flash.each do |message_type, message| %>
          <div uk-alert class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
      <% end %>
      <div class="uk-margin-large-left">
        <%= yield %>
      </div>
   </div> 
   <%# AOS用設定 %>
   <script>
      AOS.init();
    </script>
  </body>
</html>