<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>  
  <body>
    <%= render 'layouts/navbar' %>  
	<%# メイン画面 %>
	<main class="uk-section uk-section-small uk-section-muted uk-width-expand">
		<div class="uk-container uk-container-expand">
      <%# フラッシュメッセージ %>
	    <% if flash %>
        <% flash.each do |message_type, message| %>
          <div uk-alert class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/space' %>
    </div>
	</main>
  <script>
      AOS.init();
  </script>
  </body>
</html>